body{
background-color: rgb(253, 253, 253);
font-family: 'Times New Roman', Times, serif;
color: black;
max-width: 800px;
font-size: medium;
margin: auto;

}

p {
    font-size: 1.3rem;
}


